# Importing data into R

In [1]:
rm(stats)
stats <- read.csv("./datasets/5.\ Demographic\ Data.csv")

Warning message in rm(stats):
“object 'stats' not found”

# Exploring your datasets

In [2]:
nrow(stats)
ncol(stats)
head(stats, n = 10)
tail(stats, n = 8)
str(stats)
summary(stats)

[1] 195

[1] 5

   Country.Name         Country.Code Birth.rate Internet.users
1  Aruba                ABW          10.244     78.9000
2  Afghanistan          AFG          35.253      5.9000
3  Angola               AGO          45.985     19.1000
4  Albania              ALB          12.877     57.2000
5  United Arab Emirates ARE          11.044     88.0000
6  Argentina            ARG          17.716     59.9000
7  Armenia              ARM          13.308     41.9000
8  Antigua and Barbuda  ATG          16.447     63.4000
9  Australia            AUS          13.200     83.0000
10 Austria              AUT           9.400     80.6188
   Income.Group
1  High income
2  Low income
3  Upper middle income
4  Upper middle income
5  High income
6  High income
7  Lower middle income
8  High income
9  High income
10 High income

    Country.Name       Country.Code Birth.rate Internet.users
188 Vanuatu            VUT          26.739     11.3
189 West Bank and Gaza PSE          30.394     46.6
190 Samoa              WSM          26.172     15.3
191 Yemen, Rep.        YEM          32.947     20.0
192 South Africa       ZAF          20.850     46.5
193 Congo, Dem. Rep.   COD          42.394      2.2
194 Zambia             ZMB          40.471     15.4
195 Zimbabwe           ZWE          35.715     18.5
    Income.Group
188 Lower middle income
189 Lower middle income
190 Lower middle income
191 Lower middle income
192 Upper middle income
193 Low income
194 Lower middle income
195 Low income

'data.frame':	195 obs. of  5 variables:
 $ Country.Name  : Factor w/ 195 levels "Afghanistan",..: 8 1 4 2 183 6 7 5 9 10 ...
 $ Country.Code  : Factor w/ 195 levels "ABW","AFG","AGO",..: 1 2 3 4 5 6 7 8 9 10 ...
 $ Birth.rate    : num  10.2 35.3 46 12.9 11 ...
 $ Internet.users: num  78.9 5.9 19.1 57.2 88 ...
 $ Income.Group  : Factor w/ 4 levels "High income",..: 1 2 4 4 1 1 3 1 1 1 ...

              Country.Name  Country.Code   Birth.rate    Internet.users
 Afghanistan        :  1   ABW    :  1   Min.   : 7.90   Min.   : 0.90
 Albania            :  1   AFG    :  1   1st Qu.:12.12   1st Qu.:14.52
 Algeria            :  1   AGO    :  1   Median :19.68   Median :41.00
 Angola             :  1   ALB    :  1   Mean   :21.47   Mean   :42.08
 Antigua and Barbuda:  1   ARE    :  1   3rd Qu.:29.76   3rd Qu.:66.22
 Argentina          :  1   ARG    :  1   Max.   :49.66   Max.   :96.55
 (Other)            :189   (Other):189
              Income.Group
 High income        :67
 Low income         :30
 Lower middle income:50
 Upper middle income:48

# Using the $ sign

In [3]:
stats[3, 3]
stats[3, "Birth.rate"]
stats$Internet.users
stats$Internet.users[2]
stats[, "Internet.users"]
levels(stats$Income.Group)

[1] 45.985

[1] 45.985

  [1] 78.90000  5.90000 19.10000 57.20000 88.00000 59.90000 41.90000 63.40000
  [9] 83.00000 80.61880 58.70000  1.30000 82.17020  4.90000  9.10000  6.63000
 [17] 53.06150 90.00004 72.00000 57.79000 54.17000 33.60000 95.30000 36.94000
 [25] 51.04000 73.00000 64.50000 29.90000 15.00000  3.50000 85.80000 86.34000
 [33] 66.50000 45.80000  8.40000  6.40000  6.60000 51.70000  6.50000 37.50000
 [41] 45.96000 27.93000 74.10000 65.45480 74.11040 84.17000  9.50000 94.62970
 [49] 45.90000 16.50000 40.35368 29.40000  0.90000 71.63500 79.40000  1.90000
 [57] 91.51440 37.10000 81.91980 27.80000  9.20000 89.84410 43.30000 12.30000
 [65]  1.60000 14.00000  3.10000 16.40000 59.86630 35.00000 65.80000 19.70000
 [73] 65.40000 35.00000 74.20000 17.80000 66.74760 10.60000 72.64390 14.94000
 [81] 15.10000 78.24770 29.95000  9.20000 96.54680 70.80000 58.45930 37.10000
 [89] 41.00000 89.71000 54.00000 39.00000 23.00000  6.80000 11.50000 84.77000
 [97] 75.46000 12.50000 70.50000  3.20000 16.50000 46.20000 93.80000 21.90000
[105]  5.00000 68.45290 93.77650 75.23440 65.80000 56.00000 45.00000  3.00000
[113] 44.10000 43.46000 65.24000  3.50000 68.91380  1.60000 60.31000 20.00000
[121]  5.40000  6.20000 39.00000  5.05000 66.97000 13.90000 66.00000  1.70000
[129] 38.00000 15.50000 93.95640 95.05340 13.30000 82.78000 66.45000 10.90000
[137] 44.03000 39.20000 37.00000  6.50000 62.84920 73.90000 62.09560 36.90000
[145] 56.80000 85.30000 49.76450 67.97000  9.00000 60.50000 22.70000 13.10000
[153] 81.00000  8.00000  1.70000 23.10930  1.50000 51.50000 14.10000 23.00000
[161] 37.40000 77.88260 72.67560 94.78360 24.70000 50.40000 26.20000  2.30000
[169]  4.50000 28.94000 16.00000  9.60000  1.10000 35.00000 63.80000 43.80000
[177] 46.25000  4.40000 16.20000 41.00000 57.69000 84.20000 38.20000 52.00000
[185] 54.90000 45.30000 43.90000 11.30000 46.60000 15.30000 20.00000 46.50000
[193]  2.20000 15.40000 18.50000

[1] 5.9

  [1] 78.90000  5.90000 19.10000 57.20000 88.00000 59.90000 41.90000 63.40000
  [9] 83.00000 80.61880 58.70000  1.30000 82.17020  4.90000  9.10000  6.63000
 [17] 53.06150 90.00004 72.00000 57.79000 54.17000 33.60000 95.30000 36.94000
 [25] 51.04000 73.00000 64.50000 29.90000 15.00000  3.50000 85.80000 86.34000
 [33] 66.50000 45.80000  8.40000  6.40000  6.60000 51.70000  6.50000 37.50000
 [41] 45.96000 27.93000 74.10000 65.45480 74.11040 84.17000  9.50000 94.62970
 [49] 45.90000 16.50000 40.35368 29.40000  0.90000 71.63500 79.40000  1.90000
 [57] 91.51440 37.10000 81.91980 27.80000  9.20000 89.84410 43.30000 12.30000
 [65]  1.60000 14.00000  3.10000 16.40000 59.86630 35.00000 65.80000 19.70000
 [73] 65.40000 35.00000 74.20000 17.80000 66.74760 10.60000 72.64390 14.94000
 [81] 15.10000 78.24770 29.95000  9.20000 96.54680 70.80000 58.45930 37.10000
 [89] 41.00000 89.71000 54.00000 39.00000 23.00000  6.80000 11.50000 84.77000
 [97] 75.46000 12.50000 70.50000  3.20000 16.50000 46.20000 93.80000 21.90000
[105]  5.00000 68.45290 93.77650 75.23440 65.80000 56.00000 45.00000  3.00000
[113] 44.10000 43.46000 65.24000  3.50000 68.91380  1.60000 60.31000 20.00000
[121]  5.40000  6.20000 39.00000  5.05000 66.97000 13.90000 66.00000  1.70000
[129] 38.00000 15.50000 93.95640 95.05340 13.30000 82.78000 66.45000 10.90000
[137] 44.03000 39.20000 37.00000  6.50000 62.84920 73.90000 62.09560 36.90000
[145] 56.80000 85.30000 49.76450 67.97000  9.00000 60.50000 22.70000 13.10000
[153] 81.00000  8.00000  1.70000 23.10930  1.50000 51.50000 14.10000 23.00000
[161] 37.40000 77.88260 72.67560 94.78360 24.70000 50.40000 26.20000  2.30000
[169]  4.50000 28.94000 16.00000  9.60000  1.10000 35.00000 63.80000 43.80000
[177] 46.25000  4.40000 16.20000 41.00000 57.69000 84.20000 38.20000 52.00000
[185] 54.90000 45.30000 43.90000 11.30000 46.60000 15.30000 20.00000 46.50000
[193]  2.20000 15.40000 18.50000

[1] "High income"         "Low income"          "Lower middle income"
[4] "Upper middle income"

# Basic operation with Data Frames

In [4]:
stats[1:10,] #subsetting
stats[3:9,]
stats[c(4, 100),]

   Country.Name         Country.Code Birth.rate Internet.users
1  Aruba                ABW          10.244     78.9000
2  Afghanistan          AFG          35.253      5.9000
3  Angola               AGO          45.985     19.1000
4  Albania              ALB          12.877     57.2000
5  United Arab Emirates ARE          11.044     88.0000
6  Argentina            ARG          17.716     59.9000
7  Armenia              ARM          13.308     41.9000
8  Antigua and Barbuda  ATG          16.447     63.4000
9  Australia            AUS          13.200     83.0000
10 Austria              AUT           9.400     80.6188
   Income.Group
1  High income
2  Low income
3  Upper middle income
4  Upper middle income
5  High income
6  High income
7  Lower middle income
8  High income
9  High income
10 High income

  Country.Name         Country.Code Birth.rate Internet.users
3 Angola               AGO          45.985     19.1
4 Albania              ALB          12.877     57.2
5 United Arab Emirates ARE          11.044     88.0
6 Argentina            ARG          17.716     59.9
7 Armenia              ARM          13.308     41.9
8 Antigua and Barbuda  ATG          16.447     63.4
9 Australia            AUS          13.200     83.0
  Income.Group
3 Upper middle income
4 Upper middle income
5 High income
6 High income
7 Lower middle income
8 High income
9 High income

    Country.Name Country.Code Birth.rate Internet.users Income.Group
4   Albania      ALB          12.877     57.2           Upper middle income
100 Liberia      LBR          35.521      3.2           Low income

## Remember how the [] work;

In [5]:
is.data.frame(stats[1,]) #no need for drop=F
is.data.frame(stats[,1])
is.data.frame(stats[,1, drop = F])

[1] TRUE

[1] FALSE

[1] TRUE

## Multiply columns

In [6]:
head(stats)
stats$Birth.rate * stats$Internet.users
stats$Birth.rate + stats$Internet.users

  Country.Name         Country.Code Birth.rate Internet.users
1 Aruba                ABW          10.244     78.9
2 Afghanistan          AFG          35.253      5.9
3 Angola               AGO          45.985     19.1
4 Albania              ALB          12.877     57.2
5 United Arab Emirates ARE          11.044     88.0
6 Argentina            ARG          17.716     59.9
  Income.Group
1 High income
2 Low income
3 Upper middle income
4 Upper middle income
5 High income
6 High income

  [1]  808.2516  207.9927  878.3135  736.5644  971.8720 1061.1884  557.6052
  [8] 1042.7398 1095.6000  757.8167 1074.2100   57.3963  920.3062  178.5560
 [15]  369.0141  133.5415  488.1658 1353.6006 1104.4080  523.6930  677.1250
 [22]  775.8912  991.1200  895.2778  762.0782  889.7240 1058.1225  542.2066
 [29]  379.0050  119.2660  935.2200  880.6680  890.1025  554.1800  313.4880
 [36]  238.3104  244.2726  831.1292  223.1190  810.9375  690.4111  290.4720
 [43]  926.2500  748.5411  755.9261  715.4450  242.1170  946.2970  972.9882
 [50]  408.1770  850.2521  824.1408   31.3200  651.8785  817.8200   62.5575
 [57]  979.2041  759.1773 1007.6135  653.6058  281.1060 1096.0980  577.2756
 [64]  407.5113   59.7392  595.3500  116.2593  579.9368  508.8636  676.6900
 [71]  954.1000  541.0605 1137.2406  660.9750  586.1800  384.3554  627.4274
 [78]  268.6570  668.3239  303.2372  306.3941 1173.7155  536.1050  286.0556
 [85] 1293.7271 1508.0400  496.9040  502.3340 1108.8860  735.6220 1227.4200
 [92] 1372.5660  625.6000  166.3416  334.0060  729.0220 1552.5895  338.1375
 [99]  946.5330  113.6672  353.5125  712.8660  862.9600  391.1997  143.6900
[106]  691.3743 1059.6744  767.3909  740.6448 1177.2880  546.3450  104.0580
[113]  945.8127  830.2598  732.1233  154.4830  654.6811   28.9904  700.5610
[120]  485.5000  214.4070  209.5662  425.1000  199.2680 1125.4308  416.1243
[127] 1122.0000   84.4237 1521.7100  322.2140  958.3553 1102.6194  278.2759
[134] 1086.0736 1356.8426  322.4438  866.5104  791.7616  880.2300  187.8435
[141]  603.3523  798.1200  490.5552  796.5972  931.1224 1018.4820  437.9276
[148]  897.2040  294.2010 1244.8480  759.9279  504.7823  753.3000  244.6240
[155]   62.4393  403.8581   65.8365  473.8000  523.4766  794.3510  690.2170
[162]  786.6143  741.2911 1118.4465  743.2971  937.4400  629.9266  105.2135
[169]  162.3600  319.5265  492.6720  204.6912   39.3305  889.3150  930.8420
[176]  867.2400  778.6650  173.8792  704.2788  455.1000  829.2361 1052.5000
[183]  859.5000  847.9120 1089.3258  484.7100  682.0743  302.1507 1416.3604
[190]  400.4316  658.9400  969.5250   93.2668  623.2534  660.7275

  [1]  89.14400  41.15300  65.08500  70.07700  99.04400  77.61600  55.20800
  [8]  79.84700  96.20000  90.01880  77.00000  45.45100  93.37020  41.34000
 [15]  49.65100  26.77200  62.26150 105.04004  87.33900  66.85200  66.67000
 [22]  56.69200 105.70000  61.17600  65.97100  85.18800  80.90500  48.03400
 [29]  40.26700  37.57600  96.70000  96.54000  79.88500  57.90000  45.72000
 [36]  43.63600  43.61100  67.77600  40.82600  59.12500  60.98200  38.33000
 [43]  86.60000  76.89080  84.31040  92.67000  34.98600 104.62970  67.09800
 [50]  41.23800  61.42368  57.43200  35.70000  80.73500  89.70000  34.82500
 [57] 102.21440  57.56300  94.21980  51.31100  39.75500 102.04410  56.63200
 [64]  45.43100  38.93700  56.52500  40.60300  51.76200  68.36630  54.33400
 [71]  80.30000  47.16500  82.78900  53.88500  82.10000  39.39300  76.14760
 [78]  35.94500  81.84390  35.23700  35.39100  93.24770  47.85000  40.29300
 [85] 109.94680  92.10000  66.95930  50.64000  68.04600  97.91000  76.73000
 [92]  74.19400  50.20000  31.26200  40.54400  93.37000  96.03500  39.55100
 [99]  83.92600  38.72100  37.92500  61.63000 103.00000  39.76300  33.73800
[106]  78.55290 105.07650  85.43440  77.05600  77.02300  57.14100  37.68600
[113]  65.54700  62.56400  76.46200  47.63800  78.41380  19.71900  71.92600
[120]  44.27500  45.10500  40.00100  49.90000  44.50900  83.77500  43.83700
[127]  83.00000  51.36100  78.04500  36.28800 104.15640 106.65340  34.22300
[134]  95.90000  86.86900  40.48200  63.71000  59.39800  60.79000  35.39900
[141]  72.44920  84.70000  69.99560  58.48800  73.19300  97.24000  58.56450
[148]  81.17000  41.68900  81.07600  56.17700  51.63300  90.30000  38.57800
[155]  38.42900  40.58530  45.39100  60.70000  51.22600  57.53700  55.85500
[162]  87.98260  82.87560 106.58360  54.79300  69.00000  50.24300  48.04500
[169]  40.58000  39.98100  46.79200  30.92200  36.85500  60.40900  78.39000
[176]  63.60000  63.08600  43.91800  59.67400  52.10000  72.06400  96.70000
[183]  60.70000  68.30600  74.74200  56.00000  59.43700  38.03900  76.99400
[190]  41.47200  52.94700  67.35000  44.59400  55.87100  54.21500

## Add column

In [7]:
head(stats)
stats$MyCalc <- stats$Birth.rate * stats$Internet.users

  Country.Name         Country.Code Birth.rate Internet.users
1 Aruba                ABW          10.244     78.9
2 Afghanistan          AFG          35.253      5.9
3 Angola               AGO          45.985     19.1
4 Albania              ALB          12.877     57.2
5 United Arab Emirates ARE          11.044     88.0
6 Argentina            ARG          17.716     59.9
  Income.Group
1 High income
2 Low income
3 Upper middle income
4 Upper middle income
5 High income
6 High income

## Test of knowledge

In [8]:
stats$xyz <- 1:4
head(stats, n = 12)

ERROR: Error in `$<-.data.frame`(`*tmp*`, xyz, value = 1:4): replacement has 4 rows, data has 195

## Remove a column

In [9]:
head(stats)
stats$MyCalc <- NULL
stats$xyz <- NULL

  Country.Name         Country.Code Birth.rate Internet.users
1 Aruba                ABW          10.244     78.9
2 Afghanistan          AFG          35.253      5.9
3 Angola               AGO          45.985     19.1
4 Albania              ALB          12.877     57.2
5 United Arab Emirates ARE          11.044     88.0
6 Argentina            ARG          17.716     59.9
  Income.Group        MyCalc
1 High income          808.2516
2 Low income           207.9927
3 Upper middle income  878.3135
4 Upper middle income  736.5644
5 High income          971.8720
6 High income         1061.1884

# Filtering Data Frames

In [10]:
head(stats)
filter <- stats$Internet.users < 2
stats[filter,]

stats[stats$Birth.rate > 40,]
stats[stats$Birth.rate > 40 & stats$Internet.users < 2,]
stats[stats$Income.Group == "High income",]
levels(stats$Income.Group)

stats[stats$Country.Name == "Malta",]

  Country.Name         Country.Code Birth.rate Internet.users
1 Aruba                ABW          10.244     78.9
2 Afghanistan          AFG          35.253      5.9
3 Angola               AGO          45.985     19.1
4 Albania              ALB          12.877     57.2
5 United Arab Emirates ARE          11.044     88.0
6 Argentina            ARG          17.716     59.9
  Income.Group
1 High income
2 Low income
3 Upper middle income
4 Upper middle income
5 High income
6 High income

    Country.Name Country.Code Birth.rate Internet.users Income.Group
12  Burundi      BDI          44.151     1.3            Low income
53  Eritrea      ERI          34.800     0.9            Low income
56  Ethiopia     ETH          32.925     1.9            Low income
65  Guinea       GIN          37.337     1.6            Low income
118 Myanmar      MMR          18.119     1.6            Lower middle income
128 Niger        NER          49.661     1.7            Low income
155 Sierra Leone SLE          36.729     1.7            Low income
157 Somalia      SOM          43.891     1.5            Low income
173 Timor-Leste  TLS          35.755     1.1            Lower middle income

    Country.Name     Country.Code Birth.rate Internet.users Income.Group
3   Angola           AGO          45.985     19.1           Upper middle income
12  Burundi          BDI          44.151      1.3           Low income
15  Burkina Faso     BFA          40.551      9.1           Low income
66  Gambia, The      GMB          42.525     14.0           Low income
116 Mali             MLI          44.138      3.5           Low income
128 Niger            NER          49.661      1.7           Low income
129 Nigeria          NGA          40.045     38.0           Lower middle income
157 Somalia          SOM          43.891      1.5           Low income
168 Chad             TCD          45.745      2.3           Low income
179 Uganda           UGA          43.474     16.2           Low income
193 Congo, Dem. Rep. COD          42.394      2.2           Low income
194 Zambia           ZMB          40.471     15.4           Lower middle income

    Country.Name Country.Code Birth.rate Internet.users Income.Group
12  Burundi      BDI          44.151     1.3            Low income
128 Niger        NER          49.661     1.7            Low income
157 Somalia      SOM          43.891     1.5            Low income

    Country.Name          Country.Code Birth.rate Internet.users Income.Group
1   Aruba                 ABW          10.244     78.90000       High income
5   United Arab Emirates  ARE          11.044     88.00000       High income
6   Argentina             ARG          17.716     59.90000       High income
8   Antigua and Barbuda   ATG          16.447     63.40000       High income
9   Australia             AUS          13.200     83.00000       High income
10  Austria               AUT           9.400     80.61880       High income
13  Belgium               BEL          11.200     82.17020       High income
18  Bahrain               BHR          15.040     90.00004       High income
19  Bahamas, The          BHS          15.339     72.00000       High income
23  Bermuda               BMU          10.400     95.30000       High income
26  Barbados              BRB          12.188     73.00000       High income
27  Brunei Darussalam     BRN          16.405     64.50000       High income
31  Canada                CAN          10.900     85.80000       High income
32  Switzerland           CHE          10.200     86.34000       High income
33  Chile                 CHL          13.385     66.50000       High income
43  Cayman Islands        CYM          12.500     74.10000       High income
44  Cyprus                CYP          11.436     65.45480       High income
45  Czech Republic        CZE          10.200     74.11040       High income
46  Germany               DEU           8.500     84.17000       High income
48  Denmark               DNK          10.000     94.62970       High income
54  Spain                 ESP           9.100     71.63500       High income
55  Estonia               EST          10.300     79.40000       High income
57  Finland               FIN          10.700     91.51440       High income
59  France                FRA          12.300     81.91980       High income
62  United Kingdom        GBR          12.200     89.84410       High income
68  Equatorial Guinea     GNQ          35.362     16.40000       High income
69  Greece                GRC           8.500     59.86630       High income
71  Greenland             GRL          14.500     65.80000       High income
73  Guam                  GUM          17.389     65.40000       High income
75  Hong Kong SAR, China  HKG           7.900     74.20000       High income
... ...                   ...          ...        ...            ...
96  Korea, Rep.           KOR           8.600     84.7700        High income
97  Kuwait                KWT          20.575     75.4600        High income
103 Liechtenstein         LIE           9.200     93.8000        High income
106 Lithuania             LTU          10.100     68.4529        High income
107 Luxembourg            LUX          11.300     93.7765        High income
108 Latvia                LVA          10.200     75.2344        High income
109 Macao SAR, China      MAC          11.256     65.8000        High income
117 Malta                 MLT           9.500     68.9138        High income
127 New Caledonia         NCL          17.000     66.0000        High income
131 Netherlands           NLD          10.200     93.9564        High income
132 Norway                NOR          11.600     95.0534        High income
134 New Zealand           NZL          13.120     82.7800        High income
135 Oman                  OMN          20.419     66.4500        High income
141 Poland                POL           9.600     62.8492        High income
142 Puerto Rico           PRI          10.800     73.9000        High income
143 Portugal              PRT           7.900     62.0956        High income
145 French Polynesia      PYF          16.393     56.8000        High income
146 Qatar                 QAT          11.940     85.3000        High income
148 Russian Federation    RUS          13.200     67.9700        High income
150 Saudi Arabia          SAU          20.576     60.5000        High income
153 Singapore             SGP           9.300     81.0000        High income
162 Slovak Republic       SVK          10.100     77.8826        High income
163 Slovenia              SVN          10.200     72.6756        High income
164 Sweden                SWE          11.800     94.7836        High income
166 Seychelles            SYC          18.600     50.4000        High income
175 Trinidad and Tobago   TTO          14.590     63.8000        High income
181 Uruguay               URY          14.374     57.6900        High income
182 United States         USA          12.500     84.2000        High income
185 Venezuela, RB         VEN          19.842     54.9000        High income
186 Virgin Islands (U.S.) VIR          10.700     45.3000        High income

[1] "High income"         "Low income"          "Lower middle income"
[4] "Upper middle income"

    Country.Name Country.Code Birth.rate Internet.users Income.Group
117 Malta        MLT          9.5        68.9138        High income